$lightBlue: #4ba0fd;
$red: #e60000;
$darkBlue: #030d42;

@import url("https://fonts.googleapis.com/css?family=Open+Sans|Archivo+Black|Hind|Ropa+Sans&display=swa");

@mixin mQ($arg...) {
    @if length($arg)==2 {
        @media screen and (min-width: nth($arg, 1)) and (max-width: nth($arg, 2)) {
            @content;
        }
    }

    @else {
        @media screen and (min-width: nth($arg, 1)) {
            @content;
        }
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    font-size: 0.9em;
}

body {
    display: flex;
    flex-direction: column;
}

h1 {
    color: #111;
    font-family: "Archivo Black", sans-serif;
    font-variant: small-caps;
    font-size: 1.8em;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
}

h2 {
    color: #111;
    font-family: "Open Sans", sans-serif;
    font-size: 1.8em;
    font-weight: 700;
    line-height: 32px;
    margin: 0 0 7px;
    text-align: center;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 90px;
    box-shadow: 0px 2px 2px #ccc;
    background-color: lighten($lightBlue, 5%);
    padding: 0 20px;
}

.logo {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    width: 35%;

    img {
        width: 100px;
        box-shadow: 0px 0px 3px transparentize(#000000, 0.4);
    }
}

nav {
    width: 40%;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color: #1b1b1b;
    font-size: 1.1em;
    text-transform: uppercase;

    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            margin: 0;
            padding: 0;
        }
    }
}

main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-around;
    width: 100%;

    section {
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        padding: 10px;

        &.topside {
            flex-direction: row;
            background: linear-gradient(to bottom right,
                    rgba(3, 13, 66, 0.4),
                    rgba(25, 45, 109, 0.4),
                    rgba(44, 81, 154, 0.4),
                    rgba(61, 120, 203, 0.4),
                    rgba(75, 161, 253, 0.4)),
                url('../images/toppic1.png');
            background-size: 100% 100%;
            background-repeat: no-repeat;

            .mainCap {
                h2 {
                    font-weight: bold;
                    font-family: "Archivo Black", sans-serif;
                    font-size: 5.12em;
                    color: #fff;
                    margin-bottom: 1em;
                    line-height: 0.7em;
                    text-shadow: 3px 3px 1px #000;
                }

                small {
                    font-size: 0.5em;
                }
            }
        }

        .content {
            background: #f0ededb0;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0px 0px 2px #000;
            width: 433px;
            color: #000;

            p {
                line-height: 1em;
                margin-bottom: 0.5em;
            }
        }
    }

    .inner {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .location {
        border-top: 45px solid $lightBlue;
    }

    #walk {
        border-top: 45px solid $red;

        // background-image: linear-gradient(to bottom right, $darkBlue, #003571, #005F97, #008AB0, #00B5B9, #14E0B8);
        img {
            width: 85%;
            max-width: 450px;
            height: auto;
            border-radius: 12px;
            box-shadow: 0px 0px 11px #333;
        }
    }

    .rsvp {
        padding: 20px;
        border-top: 45px solid $darkBlue;

        .form {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;
            width: 60%;
            min-height: 70%;

            &-group {
                width: 100%;
                height: (100% / 3);
                padding: 12px;
                @extend .form;
            }

            label {
                display: inline-block;
                font-size: 1.1em;
                font-family: 'Hind', sans-serif;
                font-weight: 700;
                margin-bottom: 0.5rem;
            }

            &-control {
                display: block;
                width: 100%;
                height: calc(1.5em + 0.75rem + 2px);
                padding: 0.375rem 0.75rem;
                font-size: 1rem;
                font-weight: 400;
                line-height: 1.5;
                color: #495057;
                background-color: #fff;
                background-clip: padding-box;
                border: 1px solid #ced4da;
                border-radius: 0.25rem;
                transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

                &:focus {
                    color: #495057;
                    background-color: #fff;
                    border-color: #80bdff;
                    outline: 0;
                    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
                }

                &::placeholder {
                    color: #6c757d;
                    opacity: 1;
                }

                // display: block;
                // border: none;
                // border-radius: 0.4rem;
                // transition: box-shadow 300ms;
                // margin: 0;
                // font-size: 1.1rem;
                // padding: 0.8rem 1.6rem;
                // box-shadow: 0.1rem 0.1rem 0.3rem #b7b5bb;
                // margin-bottom: 11px;
            }

            &-text {
                display: block;
                margin-top: 0.25rem;
            }

            .btn {
                width: 80px;
                padding: 11px;
                border: 0;
                display: inline-block;
                font-weight: 400;
                color: #212529;
                text-align: center;
                vertical-align: middle;
                user-select: none;
                background-color: transparent;
                border: 1px solid transparent;
                padding: 0.375rem 0.75rem;
                font-size: 1rem;
                line-height: 1.5;
                border-radius: 0.25rem;
                transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

                &-primary {
                    color: #fff;
                    background-color: #007bff;
                    border-color: #007bff;

                    &:hover {
                        color: #fff;
                        background-color: #0069d9;
                        border-color: #0062cc;
                    }

                    &:focus {
                        box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
                    }
                }
            }
        }
    }
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;

    section {
        width: 100%;
        display: flex;

        &.topSection {
            border: 1px solid #000;
            height: 260px;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }

        &.copyright {
            padding: 25px 0;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            background-color: $darkBlue;
            color: #fff;
            font-family: "Hind", sans-serif;
            font-weight: 500;
            font-size: 1.3rem;
            word-spacing: 1px;
            letter-spacing: 2px;
        }
    }
}