@import url("https://fonts.googleapis.com/css?family=Open+Sans|Archivo+Black&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 0.9em;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

h1 {
  color: #111;
  font-family: "Archivo Black", sans-serif;
  font-variant: small-caps;
  font-size: 1.8em;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
}

h2 {
  color: #111;
  font-family: "Open Sans", sans-serif;
  font-size: 1.8em;
  font-weight: 700;
  line-height: 32px;
  margin: 0 0 7px;
  text-align: center;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 90px;
  -webkit-box-shadow: 0px 2px 2px #ccc;
          box-shadow: 0px 2px 2px #ccc;
  background-color: #64adfd;
  padding: 0 20px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 35%;
}

.logo img {
  width: 100px;
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.6);
}

nav {
  width: 40%;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: #1b1b1b;
  font-size: 1.1em;
  text-transform: uppercase;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0;
  padding: 0;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

main section {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 10px;
}

main section.topside {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(3, 13, 66, 0.4)), color-stop(rgba(25, 45, 109, 0.4)), color-stop(rgba(44, 81, 154, 0.4)), color-stop(rgba(61, 120, 203, 0.4)), to(rgba(75, 161, 253, 0.4))), url("../images/toppic1.png");
  background: linear-gradient(to bottom right, rgba(3, 13, 66, 0.4), rgba(25, 45, 109, 0.4), rgba(44, 81, 154, 0.4), rgba(61, 120, 203, 0.4), rgba(75, 161, 253, 0.4)), url("../images/toppic1.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

main section.topside .mainCap h2 {
  font-weight: bold;
  font-family: "Archivo Black", sans-serif;
  font-size: 5.12em;
  color: #fff;
  margin-bottom: 1em;
  line-height: 0.7em;
  text-shadow: 3px 3px 1px #000;
}

main section.topside .mainCap small {
  font-size: 0.5em;
}

main section .content {
  background: #f0ededb0;
  padding: 20px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 2px #000;
          box-shadow: 0px 0px 2px #000;
  width: 433px;
  color: #000;
}

main section .content p {
  line-height: 1em;
  margin-bottom: 0.5em;
}

main .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

main #walk {
  border-top: 45px solid #e60000;
}

main #walk img {
  width: 85%;
  max-width: 450px;
  height: auto;
  border-radius: 12px;
  -webkit-box-shadow: 0px 0px 11px #333;
          box-shadow: 0px 0px 11px #333;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

footer section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer section.topSection {
  border: 1px solid #000;
  height: 260px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer section.copyright {
  padding: 25px 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=main.css.map */